//
   Created by equitysplit on 3/25/17.

extends ../layout

block append head
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(src='/js/table.js' type='text/javascript')
    script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js' type='text/javascript')
    link(href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet')

block content
    body(style='margin-bottom:0;')
        include ../navbar
        #headerwrap(style='height:100%;')
            .container
                .row
                    .col-lg-12
                        //div(style='margin-top:50px;')
                        form.pull-left(action='/admin/subscribers', method='get', style='margin-bottom:50px;')
                            .btn-group(role='group')
                                button.btn.btn-default.disabled(type='button') Messages
                                button.btn.btn-default(type='submit') Subscribers
                    .col-lg-12
                        h3.text-left(style='margin-bottom:30px;') Messages
                    .col-lg-12
                        table#messages_table.table.table-hover.table-bordered.table-responsive(style='background-color:white;border-collapse:collapse;')
                            thead
                                tr
                                    th Email
                                    th Name
                                    th Subject
                                    th Date
                                    //th Message
                            tbody
                                for message in messages
                                    //tr.accordion(data-toggle='collapse', data-target='.hidden-message')
                                    tr
                                        td.tdvisible= message.email
                                        td.tdvisible= message.name
                                        td.tdvisible= message.subject
                                        td.tdvisible= message.created_at
                                        //td.tdvisible= message.message
                                        //tr.collapse.hidden-message(style='display:none;')
                                        //tr.collapse.hidden-message
                                        //tr
                                        //tr.collapse.hidden-message(style='display:none !important;')
                                        //td(colspan='4', style='border-bottom: solid black thin;')= message.message
                                        //td(colspan='4')= message.message
                        div(style='margin-top:150px;')