//
   Created by equitysplit on 3/25/17.

extends ../layout

block append head
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(src='/js/table.js' type='text/javascript')
    script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js' type='text/javascript')
    link(href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet')

block content
    body(style='margin-bottom:0;')
        include ../navbar
        #headerwrap(style='height:100%')
            .container
                .row
                    .col-lg-12
                        div(style='margin-top:50px;')
                        form(action='/admin/messages', method='get')
                            .btn-group(role='group')
                                button.btn.btn-default(type='submit') Messages
                                button.btn.btn-default.disabled(type='button') Subscribers
                        h3 Subscribers
                        table#subscriptions_table.table.table-hover.table-bordered.table-responsive(style='background-color:white;')
                            thead
                                tr
                                    th Email
                                    th Date
                            tbody
                                for subscriber in subscribers
                                    tr
                                        td= subscriber.email
                                        td= subscriber.created_at
                        div(style='margin-top:150px;')