//
   Created by equitysplit on 3/25/17.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='Anh Tran')
        link(rel='shortcut icon', href='/ico/favicon.ico')
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/bootstrap-datepicker3.css', rel='stylesheet')
        link(href='/css/demo2.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/font-awesome.min.css', rel='stylesheet')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/moment.min.js')
        script(src='/js/bootstrap-datepicker.min.js')
        script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
        script(src='/js/demo2.js' type='text/javascript')
        script(src='/js/demo2_jquery.js' type='text/javascript')

    body(onload='loadBody()', onresize='resizeChart()')
        script.
            ( function(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1766789033574076";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        include navbar

        br
        br
        br
        br
        h1.centered Equity Split Calculation
        .next-back-icon
            p.image-font
                a(href='#back', onclick='return false;')
                    span.glyphicon.glyphicon-circle-arrow-left
                a(href='#next', onclick='return false;')
                    span.glyphicon.glyphicon-circle-arrow-right
        form#calculateform_id(name='calculateform_name', method='post', onsubmit='return false;')
            div
                .bs-example
                    table#cal_table_id.table.table-bordered
                        thead
                            tr#tr_id_0.info.header-font
                                th.first_field Name
                                th Your Share $
                                th Your Share #
                                th Your Share %
                                th Non Cash
                                th Contributed Cash
                                th Invested Cash
                                th Date Joined Project
                                th Date On Project
                                th Vested Time
                                th Hours Worked
                                th Individual Efficiency
                                th Salary
                                th Salary Per Hour
                        tbody
                            tr#tr_id_1.active
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member1_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member1_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member1_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member1_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member1_nc_id.blue-color.form-control(type='text', name='member1_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member1_cc_id.form-control(type='text', name='member1_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member1_ic_id.form-control(type='text', name='member1_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member1_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member1_djtp', value='2017/03/11', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member1_dotp_id.blue-color.form-control(type='text', name='member1_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member1_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member1_hw_id.form-control(type='text', name='member1_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member1_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member1_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member1_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member1_sph_id.blue-color.form-control(type='text', name='member1_sph', disabled='')
                                //
                                  <td rowspan="6"><b>
                                  <input type="text" id="totalshare_id" name="totalshare" disabled/>
                                  </b></td>
                            tr#tr_id_2.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member2_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member2_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member2_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member2_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member2_nc_id.blue-color.form-control(type='text', name='member2_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member2_cc_id.form-control(type='text', name='member2_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member2_ic_id.form-control(type='text', name='member2_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member2_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member2_djtp', value='2017/03/12', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member2_dotp_id.blue-color.form-control(type='text', name='member2_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member2_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member2_hw_id.form-control(type='text', name='member2_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member2_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member2_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member2_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member2_sph_id.blue-color.form-control(type='text', name='member2_sph', disabled='')
                                //
                                  <td rowspan="6"><b>
                                  <input type="text" id="totalshare_id" name="totalshare" disabled/>
                                  </b></td>
                            tr#tr_id_3.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member3_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member3_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member3_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member3_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member3_nc_id.blue-color.form-control(type='text', name='member3_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member3_cc_id.form-control(type='text', name='member3_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member3_ic_id.form-control(type='text', name='member3_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member3_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member3_djtp', value='2017/03/13', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member3_dotp_id.blue-color.form-control(type='text', name='member3_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member3_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member3_hw_id.form-control(type='text', name='member3_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member3_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member3_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member3_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member3_sph_id.blue-color.form-control(type='text', name='member3_sph', disabled='')
                                //
                                  <td rowspan="6"><b>
                                  <input type="text" id="totalshare_id" name="totalshare" disabled/>
                                  </b></td>
                            tr#tr_id_4.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member4_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member4_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member4_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member4_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member4_nc_id.blue-color.form-control(type='text', name='member4_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member4_cc_id.form-control(type='text', name='member4_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member4_ic_id.form-control(type='text', name='member4_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member4_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member4_djtp', value='2017/03/14', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member4_dotp_id.blue-color.form-control(type='text', name='member4_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member4_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member4_hw_id.form-control(type='text', name='member4_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member4_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member4_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member4_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member4_sph_id.blue-color.form-control(type='text', name='member4_sph', disabled='')
                            tr#tr_id_5.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member5_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member5_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member5_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member5_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member5_nc_id.blue-color.form-control(type='text', name='member5_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member5_cc_id.form-control(type='text', name='member5_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member5_ic_id.form-control(type='text', name='member5_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member5_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member5_djtp', value='2017/03/15', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member5_dotp_id.blue-color.form-control(type='text', name='member5_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member5_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member5_hw_id.form-control(type='text', name='member5_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member5_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member5_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member5_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member5_sph_id.blue-color.form-control(type='text', name='member5_sph', disabled='')
                            tr#tr_id_6.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member6_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member6_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member6_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member6_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member6_nc_id.blue-color.form-control(type='text', name='member6_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member6_cc_id.form-control(type='text', name='member6_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member6_ic_id.form-control(type='text', name='member6_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member6_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member6_djtp', value='2017/03/16', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member6_dotp_id.blue-color.form-control(type='text', name='member6_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member6_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member6_hw_id.form-control(type='text', name='member6_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member6_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member6_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member6_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member6_sph_id.blue-color.form-control(type='text', name='member6_sph', disabled='')
                            tr#tr_id_7.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member7_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member7_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member7_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member7_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member7_nc_id.blue-color.form-control(type='text', name='member7_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member7_cc_id.form-control(type='text', name='member7_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member7_ic_id.form-control(type='text', name='member7_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member7_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member7_djtp', value='2017/03/17', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member7_dotp_id.blue-color.form-control(type='text', name='member7_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member7_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member7_hw_id.form-control(type='text', name='member7_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member7_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member7_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member7_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member7_sph_id.blue-color.form-control(type='text', name='member7_sph', disabled='')
                            tr#tr_id_8.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member8_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member8_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member8_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member8_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member8_nc_id.blue-color.form-control(type='text', name='member8_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member8_cc_id.form-control(type='text', name='member8_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member8_ic_id.form-control(type='text', name='member8_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member8_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member8_djtp', value='2017/03/18', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member8_dotp_id.blue-color.form-control(type='text', name='member8_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member8_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member8_hw_id.form-control(type='text', name='member8_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member8_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member8_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member8_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member8_sph_id.blue-color.form-control(type='text', name='member8_sph', disabled='')
                            tr#tr_id_9.active.hide-row-table
                                td
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-user
                                        input.form-control(type='text', placeholder='name', name='member9_name')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input.blue-color.form-control(type='text', name='member9_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input.blue-color.form-control(type='text', name='member9_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member9_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member9_nc_id.blue-color.form-control(type='text', name='member9_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member9_cc_id.form-control(type='text', name='member9_cc', value='0', required='required', onkeypress='return inputNumber(event);')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member9_ic_id.form-control(type='text', name='member9_ic', value='0', onkeypress='return inputNumber(event);')
                                td
                                    #member9_datetimepicker.input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control(type='text', min='0', name='member9_djtp', value='2017/03/19', placeholder='yyyy/mm/dd')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member9_dotp_id.blue-color.form-control(type='text', name='member9_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.blue-color.form-control(type='text', name='member9_vt', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon #
                                        input#member9_hw_id.form-control(type='text', name='member9_hw', onkeypress='return inputNumber(event);', value='30', required='required')
                                td
                                    .input-group
                                        span.input-group-addon %
                                        input.blue-color.form-control(type='text', name='member9_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member9_ocs_id.form-control(type='text', onkeypress='return inputNumber(event);', name='member9_ocs', value='100,000', required='required')
                                td
                                    .input-group
                                        span.input-group-addon $
                                        input#member9_sph_id.blue-color.form-control(type='text', name='member9_sph', disabled='')
                            tr#tr_id_999.active
                                td
                                    .input-group
                                        input.form-control.total-color(type='text', placeholder='name', name='member999_name', value='Totals', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input.blue-color.form-control.total-color(type='text', name='member999_ysc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color #
                                        input#member999_yss_id.blue-color.form-control.total-color(type='text', name='member999_yss', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color %
                                        input.blue-color.form-control.total-color(type='text', name='member999_ysp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input#member999_nc_id.blue-color.form-control.total-color(type='text', name='member999_nc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input#member999_cc_id.form-control.total-color(type='text', name='member999_cc', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input#member999_ic_id.form-control.total-color(type='text', name='member999_ic', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon.total-color
                                            span.glyphicon.glyphicon-calendar
                                        input.form-control.total-color(type='text', min='0', name='member999_djtp', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color #
                                        input#member999_dotp_id.blue-color.form-control.total-color(type='text', name='member999_dotp', disabled='')
                                td
                                    .input-group.date
                                        span.input-group-addon.total-color
                                            span.glyphicon.glyphicon-calendar
                                        input#member999_vt_id.blue-color.form-control.total-color(type='text', name='member999_vt')
                                td
                                    .input-group
                                        span.input-group-addon.total-color #
                                        input#member999_hw_id.form-control.total-color(type='text', name='member999_hw', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color %
                                        input.blue-color.form-control.total-color(type='text', name='member999_ie', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input#member999_ocs_id.form-control.total-color(type='text', name='member999_ocs', disabled='')
                                td
                                    .input-group
                                        span.input-group-addon.total-color $
                                        input#member999_sph_id.blue-color.form-control.total-color(type='text', name='member999_sph', disabled='')
        .add-remove-icon
            p.image-font
                a(href='#add', onclick='return false;')
                    span.glyphicon.glyphicon-plus-sign
                a(href='#remove', onclick='return false;')
                    span.glyphicon.glyphicon-minus-sign
        .CalculationBut.col-md-12
            button.btn.btn-theme.btn-width.btn-responsive(type='submit', name='calculationID', onclick='calculation(calculateform_id)') Calculate
            button.btn.btn-theme.btn-width.btn-responsive(type='button', name='resetID', onclick='resetData(calculateform_id)') Reset
        br
        br
        #graph_id.bs-example
            table.table.table-bordered
                tbody
                    tr
                        td
                            h4.centered Equity Split Share $
                            #pieChartContainer.chart-config
                        td
                            h4.centered Equity Split Share $
                            #barChartContainer.chart-config
        br
        .bs-example
            table.table.table-bordered
                tbody
                    tr
                        td
                            #disqus_thread
                            script.
                                /**
                                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                var disqus_config = function() {
                                    this.page.url = "http://www.equity-split.com/";
                                    // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier = "equity-split";
                                    // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };
                                (function() {// DON'T EDIT BELOW THIS LINE
                                    var d = document,
                                        s = d.createElement('script');
                                    s.src = 'https://equity-split.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            noscript
                                | Please enable JavaScript to view the
                                a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
        br
        br
        br
        #footerwrap
            .container
                .row
                    .col-lg-12
                        h4 Social Links
                        .hline-w
                        p
                            a(href='https://www.facebook.com/equitysplit/', target='_blank')
                                i.fa.fa-facebook
                            a(href='https://twitter.com/equity_split', target='_blank')
                                i.fa.fa-twitter
                            a(href='https://www.linkedin.com/company/10975490', target='_blank')
                                i.fa.fa-linkedin
                            a(href='https://www.reddit.com/user/equity_split/', target='_blank')
                                i.fa.fa-reddit-alien
            .container
                .row.centered
                    p Copyright  2017 Cohesive Bits.

        script#dsq-count-scr(src='https://equity-split.disqus.com/count.js', async='')
        script(src='/js/retina-1.1.0.js')
        script(src='/js/jquery.hoverdir.js')
        script(src='/js/jquery.hoverex.min.js')
        script(src='/js/jquery.prettyPhoto.js')
        script(src='/js/jquery.isotope.min.js')
        script(src='/js/custom.js')
