body {
    margin-bottom: 0;
}
.bs-example {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
}
.chart-config {
    width: 100%;
    height: 360px;
    float: left;
}
#graph_id {
    display:none;
}
#graph_id td {
    width: 50%;
}
.first_field {
    width: 140px;
}
#cal_table_id td {
    padding: 1px;
}
#cal_table_id tr td:nth-child(1),
#cal_table_id tr th:nth-child(1),
#cal_table_id tr td:nth-child(2),
#cal_table_id tr th:nth-child(2),
#cal_table_id tr td:nth-child(3),
#cal_table_id tr th:nth-child(3),
#cal_table_id tr td:nth-child(4),
#cal_table_id tr th:nth-child(4),
#cal_table_id tr td:nth-child(5),
#cal_table_id tr th:nth-child(5),
#cal_table_id tr td:nth-child(6),
#cal_table_id tr th:nth-child(6),
#cal_table_id tr td:nth-child(7),
#cal_table_id tr th:nth-child(7),
#cal_table_id tr td:nth-child(8),
#cal_table_id tr th:nth-child(8),
#cal_table_id tr td:nth-child(9),
#cal_table_id tr th:nth-child(9),
#cal_table_id tr td:nth-child(10),
#cal_table_id tr th:nth-child(10),
#cal_table_id tr td:nth-child(11),
#cal_table_id tr th:nth-child(11),
#cal_table_id tr td:nth-child(12),
#cal_table_id tr th:nth-child(12),
#cal_table_id tr td:nth-child(13),
#cal_table_id tr th:nth-child(13),
#cal_table_id tr td:nth-child(14),
#cal_table_id tr th:nth-child(14) {
    display: none;
}
th {
    vertical-align: middle !important;
}
.blue-color {
    color: #3266CC;
}
.red-color {
    color: #DC3812;
}
.orange-color {
    color: #FE9900;
}
.green-color {
    color: #109717;
}
.next-back-icon {
    float: right;
    margin-right: 2%;
}
.add-remove-icon {
    float: left;
    margin-top: -20px;
    margin-left: 2%;
}
.hide-row-table {
    display:none;
}
.image-font {
    font-size: 20px;
}
.header-font {
    font-size: 14px;
}
.total-color {
    background-color: #ffb84d !important;
}