extends ../layout

block content

    body
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1766789033574076";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        include ../navbar
        //
          *****************************************************************************************************************
          BLUE WRAP
          *****************************************************************************************************************
        #blue
            .container
                .row
                    h3 Blog List.
        //
          *****************************************************************************************************************
          BLOG CONTENT
          *****************************************************************************************************************
        .container.mtb
            .row
                // BLOG POSTS LIST
                .col-lg-8
                    // Go to www.addthis.com/dashboard to customize your tools
                    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5858e8431d911a01')
                    // Blog Post 8
                    a.anchor(name='8')
                    h3.ctitle What would you pay others? Yourself?
                    p
                        csmall Posted: February 8, 2017.
                        |
                        csmall2 By: Sergei Stadnik
                    br
                    p
                        img.img-responsive(src='../img/blog/dollars.jpg')
                    br
                    p
                        | Reading time:
                        strong 3 minutes
                    br
                    p
                        strong
                            | How much is this team member worth?
                            br
                            | What is their market value?
                            br
                            | Is it a fair assessment for them?
                    p
                        | We are asking ourselves these question all the time. It is a reality check, a reminder to upgrade skills, stay relevant and keep on top of modern technology. There will always be a dilemma of choosing the right reward for startup participants or any level employee. No approach is right or wrong, but let’s review possible options.
                    p
                        strong Market based compensation.
                        | This method is based on what other players on the market are willing to pay to the employees. Obviously, there is a negotiable gap that could stretch a lot based on expertise, education, experience, location, talent’s supply and demand. It can be used in startup and corporate environment. Payscale reports:
                        i
                            | What goes into determining how much money you make? In most organizations, salaries are determined by mapping roles and job descriptions with similar organizations (competitors) through a
                            a(href='https://marketrate.payscale.com/join.aspx?pid=00000000-0000-0000-0000-000000000000&doneUrl=%2fmraccountflow.aspx%3ffrom%3djoin%26pid%3d00000000-0000-0000-0000-000000000000&utm_source=B2B_StartASearch', target='_blank') third-party compensation and benchmarking service
                            | . A typical job is broken down into its responsibilities, criticality, complexity, and market availability to name a few crucial factors. Based on these factors, the range for a job is arrived upon.
                    p
                        strong Quasi-equal compensation.
                        i Real life example.
                        |  One of the successful startups “Gravity Payments” tried to experiment with equality. Dan Price, founder and CEO  announced it was raising the company's minimum salary to $70,000 a year. The decision was initially met with overwhelming enthusiasm. So, say, the clerk who was making 50K, got a 20k income increase over the course of three years. Interesting to know that some of those who had 70k income, quit their jobs. They did not get any raise, and felt underappreciated stating that people who had the least skills and were the least equipped to do the job were getting the same pay.
                        br
                        a(href='http://www.businessinsider.com/dan-price-gravity-payments-employees-leave-2015-7') http://www.businessinsider.com/dan-price-gravity-payments-employees-leave-2015-7
                    p
                        strong Equal compensation.
                        | Founders of the startup might begin with equal compensation. We can hear the symphony of criticism right now. But the ultimate goal of every company is to create and maintain the life of the unique product. To do so, everybody should be kept motivated. The first step is to
                        i have equal share of every company member, no matter what  your role is.
                        |  It genuinely shows the  level of trust provided  to each founder. The second step is to match the ownership with their performance and contribution based on an individual's input, hours and achievements. Over time, productive members will have a bigger share versus less productive members and it will be fairly reflected. The company’s or startup’s employees should get paid based on market value.
                    p A summary to set salaries for all your staff and yourself:
                    p
                        ul
                            li Set your upper and lower salary limit by what a particular job is worth to you.
                            li Match jobs whose value comes with hours to hourly pay.
                            li Match jobs whose value comes in insight or skill to salaried pay.
                            li Match jobs whose value is revenue to commissions.
                            li Use bonuses to align everyone around company or product or division goals.
                            li Customize the deal for experts and upper managers.
                    p Remember Top Insights from 2016 Compensation Best Practices Report:
                    p
                        ul
                            li While 73%of employers consider their employees fairly paid, only 36%of employees feel they are paid fairly
                            li While 78%of employers believe that employees are valued at work, 45%of employees feel they are valued at work
                            li While 40%of employers believe that their company is transparent about pay, 20%of employees feel similar about transparency
                    p What is your approach regarding this matter? Please share your thoughts.
                    br
                    br
                    br
                    p(style='text-align:center; font-size:20px') ***
                    br
                    br
                    br
                    br
                    br
                    br
                    .spacing
                    br
                    br
                // SIDEBAR
                .col-lg-4
                    //
                    h4 Recent Posts
                    .hline
                    ul.popular-posts
                        br
                        li
                            a(href='post4')
                                img(src='../img/blog/dontknow_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post4') Jack of all trades or specialist?
                            em Posted on 12/31/16
                        li
                            a(href='post3')
                                img(src='../img/blog/agent_thumb.png', alt='Popular Post')
                            p
                                a(href='post3') Agent provocateur
                            em Posted on 12/16/16
                        li
                            a(href='post2')
                                img(src='../img/blog/coffee_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post2') Minus one: your partner left the company.
                            em Posted on 12/11/16
                        li
                            a(href='post1')
                                img(src='../img/blog/equity_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post1') How do you share equity in your startup?
                            em Posted on 12/04/16
                    .spacing
        //
          *****************************************************************************************************************
          FOOTER
          *****************************************************************************************************************
        #footerwrap
            .container
                .row
                    .col-lg-12
                        h4 Social Links
                        .hline-w
                        p
                            a(href='https://www.facebook.com/equitysplit/')
                                i.fa.fa-facebook
                            a(href='https://twitter.com/equity_split')
                                i.fa.fa-twitter
                            a(href='https://www.linkedin.com/company/10975490')
                                i.fa.fa-linkedin
                            a(href='https://www.reddit.com/user/equity_split/')
                                i.fa.fa-reddit-alien
                .row
                    p Copyright &copy; 2016 Cohesive Bits.
        //
          Bootstrap core JavaScript
          ==================================================
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='../js/bootstrap.min.js')
        script(src='../js/retina-1.1.0.js')
        script(src='../js/jquery.hoverdir.js')
        script(src='../js/jquery.hoverex.min.js')
        script(src='../js/jquery.prettyPhoto.js')
        script(src='../js/jquery.isotope.min.js')
        script(src='../js/custom.js')