extends ../layout

block content

    body
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1766789033574076";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        include ../navbar
        //
          *****************************************************************************************************************
          BLUE WRAP
          *****************************************************************************************************************
        #blue
            .container
                .row
                    h3 Blog List.
        //
          *****************************************************************************************************************
          BLOG CONTENT
          *****************************************************************************************************************
        .container.mtb
            .row
                // BLOG POSTS LIST
                .col-lg-8
                    // Go to www.addthis.com/dashboard to customize your tools
                    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5858e8431d911a01')
                    // Blog Post 7
                    a.anchor(name='7')
                    h3.ctitle Probation period for new employee
                    p
                        csmall Posted: February 1, 2017.
                        csmall2 By: Sergei Stadnik
                    br
                    p
                        img.img-responsive(src='../img/blog/stick_figures.png')
                    br
                    p Reading time:
                        strong 4 minutes
                    br
                    p The day when a new member becomes a part of the team and starts contributing is an exciting moment for this person. The newcomer typically  is very enthusiastic and anxious to add value. He / she has new ideas and views. It is critical to see how a prospective partner / teammate will fit in and able to work with the existing team.
                    p
                        strong How to avoid the recruiting gamble and be confident about new  hire?
                    p The probation period is a time of finding out who the person really is. No matter how great the first impression was during the interview, you will not know the true character and behaviours of the person until you worked together for some time. Typically, the probation period of 3-6 months is a good indicator of what to expect from an individual. It is a good portion of time to evaluate the potential and hidden caveats. Based on personal experience, a 2-3 month period is good enough for a person to fully reveal himself/herself.
                    p Why do you need a probational period? Here are some real startup examples:
                    p
                        strong Situation A
                        | : John was a member of the ”Starbucks club” before the startup was even formed. He was discussing the ideas of sipping the hot frappucino and expressing the desire to becoming the head of an as of yet non-existent department.
                    ul
                        li Initial level of enthusiasm: High.
                        li Lasted: 2 months.
                        li Reason: one has to do the actual work to earn the title and respect of team members. Ideas without execution mean nothing. John was not able to put his ideas into a realistic plan of action.
                    p
                        strong Situation B
                        | : Mary joined the startup in the early stage of the project. An intelligent person with full set of professional skills. However, her enthusiasm faded away after a slowdown in workflow as well as having to deal with some personal problems.
                    ul
                        li Initial level of enthusiasm: High.
                        li Lasted: 10 months.
                        li Reason: lack of perseverance.
                    p
                        strong Situation C
                        | : Peter joined the startup several months after the start. A knowledgeable and ambitious person, he tried to incorporate his own ideas into the mainstream. An aggressive approach turned into politicking and backstabbing within the workplace.
                    ul
                        li Initial level of enthusiasm: Very High.
                        li Lasted: 3 months.
                        li Reason: execution of personal agenda without considering the team's vision.
                    p
                        | The process of hiring a new person is risky, but inevitable. It is dangerous to drive a car, but how else will you get to your destination point? So the smart startup founder will take reasonable precautions to avoid future bad exit situations.
                    p
                        i “One cannot hire a hand— the whole man always comes with it”
                        | , an old proverb says.
                    p
                        | Steps that will help to evaluate individuals performance and make decisions about their involvement within the team:
                    ul
                        li
                            strong 3 month - time to review a new recruit’s performance and make an evaluation.
                        li
                            strong 6 month - time to make a decision if that person should become a fully fledged member or a partner.
                        li
                            strong 2 years vesting period - it should help to avoid any unexpected future circumstances in people's lives. The vesting period can be longer or shorter depending on partner's preferences.
                    p Another way is to take your time during the recruiting period and be 100% sure that your candidate will fit in with the team. Drucker, Peter F writes in his “The Effective Executive” book:
                    p
                        i  Among the effective executives I have had occasion to observe, there have been people who make decisions fast, and people who make them rather slowly. But without exception, they make personnel decisions slowly and they make them several times before they really commit themselves.
                            br
                            | Alfred P. Sloan, Jr., former head of General Motors, the world’s largest manufacturing company, was reported never to make a personnel decision the first time it came up. He made a tentative judgment, and even that took several hours as a rule. Then, a few days or weeks later, he tackled the question again, as if he had never worked on it before. Only when he came up with the same name two or three times in a row was he willing to go ahead. Sloan had a deserved reputation for the “winners” he picked. But when asked about his secret, he is reported to have said: “No secret— I have simply accepted that the first name I come up with is likely to be the wrong name— and I therefore retrace the whole process of thought and analysis a few times before I act.” Yet Sloan was far from a patient man.
                            br
                            | Few executives make personnel decisions of such impact. But all effective executives I have had occasion to observe have learned that they have to give several hours of continuous and uninterrupted thought to decisions on people if they hope to come up with the right answer.
                    p What do you experience when a new member joins your own team or startup? Is there a probational period?
                    p Thank you in advance for your feedback!
                    br
                    br
                    br
                    p(style='text-align:center; font-size:20px') ***
                    br
                    br
                    br
                    br
                    br
                    br
                    .spacing
                    br
                    br
                // SIDEBAR
                .col-lg-4
                    h4 Recent Posts
                    .hline
                    ul.popular-posts
                        br
                        li
                            a(href='post4')
                                img(src='../img/blog/dontknow_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post4') Jack of all trades or specialist?
                            em Posted on 12/31/16
                        li
                            a(href='post3')
                                img(src='../img/blog/agent_thumb.png', alt='Popular Post')
                            p
                                a(href='post3') Agent provocateur
                            em Posted on 12/16/16
                        li
                            a(href='post2')
                                img(src='../img/blog/coffee_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post2') Minus one: your partner left the company.
                            em Posted on 12/11/16
                        li
                            a(href='post1')
                                img(src='../img/blog/equity_thumb.jpg', alt='Popular Post')
                            p
                                a(href='post1') How do you share equity in your startup?
                            em Posted on 12/04/16
                    .spacing
        //
          *****************************************************************************************************************
          FOOTER
          *****************************************************************************************************************
        #footerwrap
            .container
                .row
                    .col-lg-12
                        h4 Social Links
                        .hline-w
                        p
                            a(href='https://www.facebook.com/equitysplit/')
                                i.fa.fa-facebook
                            a(href='https://twitter.com/equity_split')
                                i.fa.fa-twitter
                            a(href='https://www.linkedin.com/company/10975490')
                                i.fa.fa-linkedin
                            a(href='https://www.reddit.com/user/equity_split/')
                                i.fa.fa-reddit-alien
                .row
                    p Copyright &copy; 2016 Cohesive Bits.
        //
          Bootstrap core JavaScript
          ==================================================
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='../js/bootstrap.min.js')
        script(src='../js/retina-1.1.0.js')
        script(src='../js/jquery.hoverdir.js')
        script(src='../js/jquery.hoverex.min.js')
        script(src='../js/jquery.prettyPhoto.js')
        script(src='../js/jquery.isotope.min.js')
        script(src='../js/custom.js')